extends ../../layouts/master.pug

block variables
  - var workName = 'cny'
  - var pageType = 'ecard'

block title
  title Chinese New Year eCard

block content
  // Intro
  section.csIntro(
    class='csIntro--' + pageType + 's' + workName
  )
    h1 Chinese New Year eCard
    .csIntro__role
      p Concept & Art Direction, Illustration, Design and front-end development
    +preloadImage('intro__bg.jpg', workName)
  
  // Profile
  section.csProfile
    .csIntro__standfast
      p Chinese New Year is a time for celebration and the hopes for a better year ahead. For the eCard, I wanted a modern twist on the ubiquitous paper art. I designed the card drawing elements from Chinese symbology, eg. coins for wealth, and bats for luck and prosperity.
      p Whilst experimenting with the typeface, I stumbled upon a visual link between the messages.
  
  // Screenshots
  section.csScreenshots
    // Desktop screenshots
    .browserWrap.browserWrap--desktop
      +ssDesktop('screenshot-home-1.jpg', 'CNY eCard screenshot', workName)

  // Atmosphere
  section.csAtmosphere
    .csAtmosphere__motionWrap
      +video('motion.mp4', workName)