extends ../../layouts/master.pug

block variables
  - var workName = 'drssecret'
  - var pageType = 'website'

block title
  title DR’s Secret Brand Story

block content
  // Intro
  section.csIntro(
    class='csIntro--' + pageType + 's' + workName
  )
    h1 DR’s Secret Brand Story
    .csIntro__role
      p Interaction and Responsive design, Front-end development
    +preloadImage('intro__bg.jpg', workName)
  
  // Profile
  section.csProfile
    .csIntro__standfast
      p DR’s Secret offers a range of skin-care products aiming to eradicate all skin troubles with its unique formula.
      p For the brand story, I developed an interactive slide show to showcase the various milestones for the brand.
  
  // Screenshots
  section.csScreenshots
    // Desktop screenshots
    .browserWrap.browserWrap--desktop
      +ssDesktop('screenshot-home.jpg', 'DR’s Secret Home page screenshot', workName)
      +ssDesktop('screenshot-touch.jpg', 'DR’s Secret Touch page screenshot', workName)
      +ssDesktop('screenshot-hydro-mask.jpg', 'DR’s Secret Hydromask page screenshot', workName)

    // Mobile screenshots
    .browserWrap.browserWrap--mobile
      +ssMobile('screenshot-home-mobile.jpg', 'DR’s Secret Home page mobile screenshot', workName)
      +ssMobile('screenshot-touch-mobile.jpg', 'DR’s Secret Touch page mobile screenshot', workName)
      +ssMobile('screenshot-hydro-mask-mobile.jpg', 'DR’s Secret Hydromask page mobile screenshot', workName)