extends ../../layouts/master.pug

block variables
  - var workName = 'enterprise50'
  - var pageType = 'website'

block title
  title Enterprise 50 Awards

block content
  // Intro
  section.csIntro(
    class='csIntro--' + pageType + 's' + workName
  )
    h1 Enterprise 50 Awards
    .csIntro__role
      p Concept, Design and Front-end development
    +preloadImage('intro__bg.jpg', workName)
  
  // Profile
  section.csProfile
    .csIntro__standfast
      p The Enterprise 50 (E50) Awards recognises local, privately-owned companies who have contributed to economic development in Singapore and abroad. It is jointly organised by <i>The Business Times</i> and <i>KPMG</i>.
      p I wanted to bring forward the prestige of the awards through the use of colours and the event photographs.
  
  // Screenshots
  section.csScreenshots
    // Desktop screenshots
    .browserWrap.browserWrap--desktop
      +ssDesktop('screenshot-home.jpg', 'Enterprise 50 Awards Home page screenshot', workName)
      +ssDesktop('screenshot-gallery.jpg', 'Enterprise 50 Awards Gallery page screenshot', workName)