extends ../../layouts/master.pug

block variables
  - var workName = 'ewi'
  - var pageType = 'website'

block title
  title EWI

block content
  // Intro
  section.csIntro(
    class='csIntro--' + pageType + 's' + workName
  )
    h1 EWI
    .csIntro__role
      p Concept & Art Direction, Design and Front-end development, Information architecture, Copy-editing
    +preloadImage('intro__bg.jpg', workName)
  
  // Profile
  section.csProfile
    .csIntro__standfast
      p EWI is a business growth consulting and management training firm that focuses on the issues impacting the international and business strategies of an organization.
      p I wanted to portray the problem-solving abilities of the company, so I’d included case studies detailing the consulting process.
  
  // Screenshots
  section.csScreenshots
    // Desktop screenshots
    .browserWrap.browserWrap--desktop
      +ssDesktop('screenshot-home.jpg', 'EWI Home page screenshot', workName)
      +ssDesktop('screenshot-industry.jpg', 'EWI Industry page screenshot', workName)
      +ssDesktop('screenshot-services.jpg', 'EWI Services page screenshot', workName)

  // Details
  section.csDetails
    +lazyImage('details-1.jpg', 'EWI design details', workName)