extends ../../layouts/master.pug

block variables
  - var workName = 'mondella'
  - var pageType = 'website'

block title
  title Mondella Contours

block content
  // Intro
  section.csIntro(
    class='csIntro--' + pageType + 's' + workName
  )
    h1 Mondella Contours
    .csIntro__role
      p Concept & Art Direction, Responsive design, Front-end development
    +preloadImage('intro__bg.jpg', workName)
  
  // Profile
  section.csProfile
    .csIntro__standfast
      p Mondella offers a series of body-contouring lingerie targetting women 30-years and above. The stitched embroideries and refined finishing were made to make the wearer feel confident and elegant.
      p To accentuate the elegance of the product range, I decided to colour-correct the concept photography to make them feel like they came right out of an art film. I was very much inspired by Wong Kar Wai’s <i>In The Mood For Love</i>.
  
  // Screenshots
  section.csScreenshots
    // Desktop screenshots
    .browserWrap.browserWrap--desktop
      +ssDesktop('screenshot-home.jpg', 'Mondella Contours Home page screenshot', workName)
      +ssDesktop('screenshot-why.jpg', 'Mondella Contours Craftmanship page screenshot', workName)
      +ssDesktop('screenshot-collection.jpg', 'Mondella Contours Collection page screenshot', workName)

    // Mobile screenshots
    .browserWrap.browserWrap--mobile
      +ssMobile('screenshot-home-mobile.jpg', 'Mondella Contours Home page mobile screenshot', workName)
      +ssMobile('screenshot-why-mobile.jpg', 'Mondella Contours Craftmanship page mobile screenshot', workName)
      +ssMobile('screenshot-collection-mobile.jpg', 'Mondella Contours Collection page mobile screenshot', workName)

  // Atmosphere
  section.csAtmosphere
    h2 Colour-grading
    .csAtmosphere__photographyWrap
      +lazyImage('photography-1.jpg', 'Mondella Contours Colour Treatment', workName)