extends ../../layouts/master.pug

block variables
  - var workName = 'xmas'
  - var pageType = 'ecard'

block title
  title Christmas eCard

block content
  // Intro
  section.csIntro(
    class='csIntro--' + pageType + 's' + workName
  )
    h1 Christmas eCard
    .csIntro__role
      p Concept & Art Direction, Illustration, Design and front-end development
    +preloadImage('intro__bg.jpg', workName)
  
  // Profile
  section.csProfile
    .csIntro__standfast
      p When we think of Christmas, it often conjures up images and sounds of the church choir, and a sense of peace and tranquility. I wanted to impart those feelings to the user together with the messages from the company.
      p I decided on the use of a cinemagraph, by which the juxtaposition of static and moving objects help to draw the attention of the user into the visuals. A scene of a winter’s night was chosen to set the mood.
  
  // Screenshots
  section.csScreenshots
    // Desktop screenshots
    .browserWrap.browserWrap--desktop
      +ssDesktop('screenshot-home-1.jpg', 'X’mas eCard screenshot', workName)

  // Atmosphere
  section.csAtmosphere
    .csAtmosphere__motionWrap
      +video('motion.mp4', workName)