/*******
 * caseStudy.scss
 *
 * For Enterprise 50
 *
 */
.project--ewi {
	h1 {
		color: $white;
		//font-family: "Playfair Display",Georgia,Times;
		&:after {
			background-color: $wbAurigenYellow;
		}
	}
	
	.project__title {
		color: $white;
		&:before,
	  &:after {
	    background-color: $wbAurigenYellow;
	  }
	}

	.csAtmosphere {
		h2:after {
			background-color: $wbAurigenYellow;
		}
	}

	.csIntro {
		color: $white;
	  background-image:url(/assets/img/websites/ewi/intro__bg.jpg);
	  background-color:rgb(203, 200, 195);
	}

		.csIntro__imgwrap {
			position: absolute;
	    //bottom: -10px;
	    //left: -90px;
	    height: 100vh;
	    top: 0;
	    right: -13%;

	    animation-duration: $speedExtremelySlow, $speedExtremelySlow;
			animation-name: slideInRight, fadeIn--slow;
			animation-fill-mode:backwards, backwards;
			animation-delay:50 + ($speedFast * 2);

			img {
				height: 100%;
				width: auto;
			}
		}

	//.csProfile,
	//.csScreenshots {
	//	background-color: $wbAurigenBrown;		
	//}

	.colourPalette__primary {
		background-color:$wbAurigenYellow;
	}
	
} // websites--aurigen