/*******
 * caseStudy.scss
 *
 * For DR’S Secret brand story
 *
 */
.project--drssecret {
	h1 {
		//color: $white;

		&:after {
			background-color: $wbDrssecretBlue;
		}
	}

	.project__title {
		//color: $white;
		&:before,
	  &:after {
	    background-color: $wbDrssecretBlue;
	  }
	}
	
	.csAtmosphere {
		h2:after {
			background-color: $wbDrssecretBlue;
		}
	}

	.csIntro {
		//color: $white;
	  background-image:url(/img/websites/drssecret/intro__bg.jpg);
	  background-color:rgb(197, 167, 129);
	  overflow: hidden;
	}

		.csIntro__imgwrap {
			position: absolute;
	    //bottom: -10px;
	    //left: -90px;
	    height: 100vh;
	    top: 0;
	    right: -13%;

	    animation-duration: $speedExtremelySlow, $speedExtremelySlow;
			animation-name: slideInRight, fadeIn--slow;
			animation-fill-mode:backwards, backwards;
			animation-delay:50 + ($speedFast * 2);

			img {
				height: 100%;
				width: auto;
			}
		}


	.csProfile,
	.csScreenshots {
		background-color: $wbDrssecretGray;		
	}
	
} // websites--drssecret