// *******************
// * variables.scss
// *
// * A keeper of values
// *
// */

///////////////////////////////////////////////
//
// Sizes
//

$sidebarWidth:  250px;

///////////////////////////////////////////////
//
// Typography
//
$font: (
  family:     (Open Sans, Microsoft YaHei, 微软雅黑, STXihei, STHeiti, sans-serif),
  size:       1rem,
  lineHeight: 1.8rem,
);

///////////////////////////////////////////////
//
// Media Query Breakpoints
//
// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px
);

///////////////////////////////////////////////
//
// Color system
//

// stylelint-disable
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$grays: ();
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:      #2a418f;
$lightBlue: #f0f8ff;
$darkBlue:  #041344;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #fff0f0;
$red:       #dc3545;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;
$paper:     #fdf9ee; // #fef8e9;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "darkBlue":   $darkBlue,
  "lightBlue":  $lightBlue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "black":      $black,
  "paper":      $paper,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);